<%= render "shared/header" %>
<div class='main'>

<div class='title-contents'>
    <h2 class='service-title'>
      さあ、アイデアをシェアしよう
    </h2>
    <p class='service-explain'>
      Ideeは、皆さんが持っているアイデアをユーザー同士で共有しあう
    </p>
    <p class='service-explain'>
      チャットスペースです
    </p>
  </div>
</div>